# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List commonly used libraries used by Data Scientists
* Examples of evaluating arithmetic expressions in Python

## Author
Tony Ramos

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Scikit-Learn
4. TensorFlow
5. Keras

| Data Science Tools |
| ------------------ |
| Apache Spark |
| Hadoop |
| Jupyter Notebook |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [15]:
# This will convert 200 minutes to hours by diving by 60
def convertHours(minutes):
    print(f"{minutes / 60:.1f} horas")

In [16]:
convertHours(200)

3.3 horas